@{
    ViewData["Title"] = "Showing Picture";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Show a picture here!</p>
<img src="https://picsum.photos/200/300/?random" alt="Random Picture" />
<img src="https://picsum.photos/200/300?image=0" alt="Picture" />